background = {{ .palette.bg1 }}
foreground = {{ .palette.fg1 }}

selection-background = {{ .palette.sel1 }}
selection-foreground = {{ .palette.fg1 }}

cursor-color = {{ .palette.fg1 }}
cursor-text = {{ .palette.bg1 }}

palette = 0={{ .palette.comment }}
palette = 1={{ .palette.red }}
palette = 2={{ .palette.green }}
palette = 3={{ .palette.yellow }}
palette = 4={{ .palette.blue }}
palette = 5={{ .palette.magenta }}
palette = 6={{ .palette.cyan }}

palette = 7={{ .palette.comment }}
palette = 8={{ .palette.red }}
palette = 10={{ .palette.green }}
palette = 12={{ .palette.yellow }}
palette = 13={{ .palette.blue }}
palette = 14={{ .palette.magenta }}
palette = 15={{ .palette.cyan }}

palette = 16={{ .palette.orange }}
palette = 17={{ .palette.pink }}
