local palette = {
  black = "{{ .palette.black }}",
  red = "{{ .palette.blue }}",
  green = "{{ .palette.green }}",
  yellow = "{{ .palette.yellow }}",
  blue = "{{ .palette.red }}",
  magenta = "{{ .palette.magenta }}",
  cyan = "{{ .palette.cyan }}",
  white = "{{ .palette.fg1 }}",
  orange = "{{ .palette.orange }}",
  pink = "{{ .palette.pink }}",

  bg0 = "{{ .palette.bg0 }}",
  bg1 = "{{ .palette.bg1 }}",
  bg2 = "{{ .palette.bg2 }}",
  bg3 = "{{ .palette.bg3 }}",
  bg4 = "{{ .palette.bg4 }}",

  fg0 = "{{ .palette.fg0 }}",
  fg1 = "{{ .palette.fg1 }}",
  fg2 = "{{ .palette.fg2 }}",
  fg3 = "{{ .palette.fg3 }}",

  comment = "{{ .palette.comment }}",

  sel0 = "{{ .palette.sel0 }}",
  sel1 = "{{ .palette.sel1 }}",
}

local alt_bg = require("ngs.util").shade("{{ .palette.bg1 }}", -0.1)
local selection = require("ngs.util").shade("{{ .palette.blue }}", -0.7)

local groups = {
  BlinkCmpMenuBorder = { fg = palette.fg3 },
  CursorLine = { bg = require("ngs.util").shade("{{ .palette.bg1 }}", 0.025) },
  LspSignatureActiveParameter = { fg = palette.yellow },
  PmenuSel = { fg = palette.fg1 },
  SnacksPicker = { bg = alt_bg },
  SnacksPickerBorder = { fg = palette.bg3, bg = alt_bg },
  SnacksPickerDir = { fg = palette.comment },
  StatusLine = { bg = palette.bg2 },
  Visual = { fg = "none", bg = selection },
  WhichKeyNormal = { bg = alt_bg },
}

return {
  apply = function(setup)
    setup({
      palettes = { all = palette },
      groups = { all = groups },
    })

    vim.cmd.colorscheme("nightfox")
  end,

  statusline = {
    fg = palette.fg1,
    fg_alt = palette.fg1,
    bg = palette.bg2,
    bg_alt = palette.bg3,

    -- mode_icon_fg = palette.fg1,
    -- mode_icon_bg = palette.bg3,
    -- mode_name_fg = palette.fg2,
    mode_normal = palette.fg3,
    -- mode_visual = palette.bg3,
    -- mode_select = palette.bg3,
    -- mode_insert = palette.bg3,
    -- mode_replace = palette.bg3,
    -- mode_command = palette.bg3,
    -- mode_ex = palette.bg3,
    -- mode_wait = palette.bg3,
    -- mode_terminal = palette.bg3,

    vcs_branch = palette.pink,

    lsp = palette.fg2,
  },
}

-- vim:ft=lua
