local palette = {
  black = "{{ .palette.black }}",
  red = "{{ .palette.red }}",
  green = "{{ .palette.green }}",
  yellow = "{{ .palette.yellow }}",
  blue = "{{ .palette.blue }}",
  magenta = "{{ .palette.magenta }}",
  cyan = "{{ .palette.cyan }}",
  white = "{{ .palette.white }}",
  orange = "{{ .palette.orange }}",
  pink = "{{ .palette.pink }}",

  bg0 = "{{ .palette.bg0 }}",
  bg1 = "{{ .palette.bg1 }}",
  bg2 = "{{ .palette.bg2 }}",
  bg3 = "{{ .palette.bg3 }}",
  bg4 = "{{ .palette.bg4 }}",

  fg0 = "{{ .palette.fg0 }}",
  fg1 = "{{ .palette.fg1 }}",
  fg2 = "{{ .palette.fg2 }}",
  fg3 = "{{ .palette.fg3 }}",

  comment = "{{ .palette.comment }}",

  sel0 = "{{ .palette.sel0 }}",
  sel1 = "{{ .palette.sel1 }}",
}

local groups = {
  CursorLine = { bg = require("ngs.util").shade("{{ .palette.bg1 }}", 0.02) },
}

return {
  apply = function(setup)
    setup({
      palettes = { all = palette },
      groups = { all = groups },
    })

    vim.cmd.colorscheme("nightfox")
  end,
}

-- vim:ft=lua
