local palette = {
  black = "{{ .palette.black }}",
  red = "{{ .palette.red }}",
  green = "{{ .palette.green }}",
  yellow = "{{ .palette.yellow  }}",
  blue = "{{ .palette.blue }}",
  magenta = "{{ .palette.magenta }}",
  cyan = "{{ .palette.cyan}}",
  white = "{{ .palette.white}}",
  orange = "{{ .palette.orange}}",
  pink = "{{ .palette.pink }}",

  comment = "{{ .palette.comment }}",

  bg0 = "{{ .palette.bg0 }}",
  bg1 = "{{ .palette.bg1 }}",
  bg2 = "{{ .palette.bg2 }}",
  bg3 = "{{ .palette.bg3 }}",
  bg4 = "{{ .palette.bg4 }}",

  fg0 = "{{ .palette.fg0 }}",
  fg1 = "{{ .palette.fg1 }}",
  fg2 = "{{ .palette.fg2 }}",
  fg3 = "{{ .palette.fg3 }}",

  sel0 = "{{ .palette.sel0 }}",
  sel1 = "{{ .palette.sel1 }}",
}

local specs = {}

local groups = {
  CursorLine = { bg = "{{ .palette.bg2 }}" },
  NormalAlt = { bg = "bg0" },
  FloatBorder = { fg = "bg4" },
  SnacksPicker = { bg = "bg1" },
  SnacksPickerBorder = { fg = "bg4", bg = "bg1" },
}

return {
  colorscheme = "nightfox",

  apply = function(setup)
    setup({
      palettes = { all = palette },
      specs = { all = specs },
      groups = { all = groups },
    })
  end,
}

-- vim:ft=lua
