#!/bin/bash
# shellcheck disable=all

set -euo pipefail

SCRIPT="${XDG_DATA_HOME:-$HOME/.local/share}/grimoire/tmux_statusline.sh"

if [ -x "$SCRIPT" ]; then
  export TMUX_COLOR_LEFT_FG={{ .palette.fg2 }}
  export TMUX_COLOR_LEFT_BG={{ .palette.bg3 }}

  export TMUX_COLOR_MAIN_FG={{ .palette.fg1 }}
  export TMUX_COLOR_MAIN_BG={{ .palette.bg2 }}

  export TMUX_COLOR_ACTIVE_FG={{ .palette.fg2 }}
  export TMUX_COLOR_ACTIVE_BG={{ .palette.bg1 }}

  export TMUX_COLOR_SEG_1_FG={{ .palette.fg2 }}
  export TMUX_COLOR_SEG_1_BG={{ .palette.bg2 }}

  export TMUX_COLOR_SEG_2_FG={{ .palette.fg2 }}
  export TMUX_COLOR_SEG_2_BG={{ .palette.bg2 }}

  export TMUX_COLOR_SEG_3_FG={{ .palette.fg1 }}
  export TMUX_COLOR_SEG_3_BG={{ .palette.bg2 }}

  "$SCRIPT"

  tmux set-option -g message-style fg={{ .palette.black }},bg=colour11
  tmux set-option -g message-command-style fg={{ .palette.black }},bg=colour2
  tmux set-option -g mode-style fg={{ .palette.black }},bg=colour11
else
  echo "📖 No viable script in sight... ($SCRIPT)"
  exit 1
fi

# vim:ft=sh
