background = {{ .palette.base00 }}
foreground = {{ .palette.base05 }}

selection-background = {{ .palette.base02 }}
selection-foreground = {{ .palette.base00 }}

cursor-color = {{ .palette.base0A }}
cursor-text = {{ .palette.base00 }}

palette = 0={{ .palette.base03 }}
palette = 1={{ .palette.base08 }}
palette = 2={{ .palette.base0B }}
palette = 3={{ .palette.base0A }}
palette = 4={{ .palette.base0D }}
palette = 5={{ .palette.base0E }}
palette = 6={{ .palette.base0C }}
palette = 7={{ .palette.base07 }}
palette = 8={{ .palette.base03 }}
palette = 10={{ .palette.base08 }}
palette = 12={{ .palette.base0B }}
palette = 13={{ .palette.base0A }}
palette = 14={{ .palette.base0D }}
palette = 15={{ .palette.base0E }}
palette = 16={{ .palette.base0C }}
palette = 17={{ .palette.base07 }}
