local palette = {
  base00 = "{{ .palette.base00 }}",
  base01 = "{{ .palette.base01 }}",
  base02 = "{{ .palette.base02 }}",
  base03 = "{{ .palette.base03 }}",
  base04 = "{{ .palette.base04 }}",
  base05 = "{{ .palette.base05 }}",
  base06 = "{{ .palette.base06 }}",
  base07 = "{{ .palette.base07 }}",
  base08 = "{{ .palette.base08 }}",
  base09 = "{{ .palette.base09 }}",
  base0A = "{{ .palette.base0A }}",
  base0B = "{{ .palette.base0B }}",
  base0C = "{{ .palette.base0C }}",
  base0D = "{{ .palette.base0D }}",
  base0E = "{{ .palette.base0E }}",
  base0F = "{{ .palette.base0F }}",
}

local function darken(hex_color, amount)
  local r, g, b = hex_color:match("#(%x%x)(%x%x)(%x%x)")
  r, g, b = tonumber(r, 16), tonumber(g, 16), tonumber(b, 16)

  local factor = 1.0 - amount
  r = math.floor(r * factor)
  g = math.floor(g * factor)
  b = math.floor(b * factor)

  return string.format("#%02x%02x%02x", r, g, b)
end

local function lighten(hex_color, amount)
  local r, g, b = hex_color:match("#(%x%x)(%x%x)(%x%x)")
  r, g, b = tonumber(r, 16), tonumber(g, 16), tonumber(b, 16)

  local factor = 1.0 + amount
  local new_r = math.min(math.floor(r * factor), 255)
  local new_g = math.min(math.floor(g * factor), 255)
  local new_b = math.min(math.floor(b * factor), 255)

  return string.format("#%02x%02x%02x", new_r, new_g, new_b)
end

local function higlight(name, opts)
  local defaults = { fg = palette.base05, bg = palette.base00 }
  local colors = vim.tbl_extend("force", defaults, opts)
  local command = string.format("hi %s guifg=%s guibg=%s", name, colors.fg, colors.bg)
  vim.cmd(command)
end

return {
  palette = palette,

  apply = function(setup)
    local p = palette
    setup({ palette = p, plugins = { default = false } })

    higlight("StatusLine", { bg = p.base01 })
    higlight("CursorLine", { fg = "none", bg = lighten(p.base00, 0.1) })
    higlight("LineNr", { fg = p.base03, bg = p.base00 })
    higlight("SignColumn", { fg = p.base03, bg = p.base00 })
    higlight("SnacksPicker", { bg = p.base00 })
    higlight("SnacksPickerBorder", { fg = p.base02, bg = p.base00 })
    higlight("SnacksPickerListCursorLine", { bg = p.base01 })
    higlight("DiffAdd", { fg = p.base0B, bg = p.base00 })
    higlight("GitSignsAdd", { fg = p.base0B, bg = p.base00 })
    higlight("GitSignsAddLn", { fg = p.base0B, bg = p.base00 })
    higlight("GitSignsChange", { fg = p.base0D })
    higlight("GitSignsDelete", { fg = p.base08 })
    higlight("WinSeparator", { fg = p.base03, bg = nil })
  end,
}

-- vim:ft=lua
