background = {{ .palette.base }}
foreground = {{ .palette.text }}

selection-background = {{ .palette.surface2 }}
selection-foreground = {{ .palette.text }}

cursor-color = {{ .palette.blue }}
cursor-text = {{ .palette.base }}

palette = 0={{ .palette.subtext1 }}
palette = 1={{ .palette.red }}
palette = 2={{ .palette.green }}
palette = 3=#cf9f41
palette = 4={{ .palette.blue }}
palette = 5={{ .palette.pink }}
palette = 6={{ .palette.teal }}
palette = 7={{ .palette.surface2 }}
palette = 8={{ .palette.subtext0 }}
palette = 9={{ .palette.red }}
palette = 10={{ .palette.green }}
palette = 11=#cf9f41
palette = 12={{ .palette.blue }}
palette = 13={{ .palette.pink }}
palette = 14={{ .palette.teal }}
palette = 15={{ .palette.surface1 }}
