set fzf_color "
fg:7,
bg:{{ .palette.mantle }},
hl:8,
fg+:3,
bg+:{{ .palette.mantle }},
hl+:1,
gutter:{{ .palette.mantle }},
info:6,
prompt:2,
pointer:4,
marker:1,
spinner:5
"
set -gx FZF_DEFAULT_OPTS "--color $(echo $fzf_color | string join '')"

# vim:ft=fish
