#!/bin/bash

set -euo pipefail

SCRIPT="${XDS_DATA_HOME:-$HOME/.local/share}/grimoire/tmux_statusline.sh"

if [ -x "$SCRIPT" ]; then
  export TMUX_COLOR_LEFT_FG={{ .palette.base }}
  export TMUX_COLOR_LEFT_BG=colour2

  export TMUX_COLOR_MAIN_FG={{ .palette.overlay2 }}
  export TMUX_COLOR_MAIN_BG={{ .palette.surface0 }}

  export TMUX_COLOR_ACTIVE_FG={{ .palette.text }}
  export TMUX_COLOR_ACTIVE_BG={{ .palette.base }}

  export TMUX_COLOR_SEG_1_FG={{ .palette.subtext1 }}
  export TMUX_COLOR_SEG_1_BG={{ .palette.surface0 }}

  export TMUX_COLOR_SEG_2_FG={{ .palette.subtext1 }}
  export TMUX_COLOR_SEG_2_BG={{ .palette.surface0 }}

  export TMUX_COLOR_SEG_3_FG={{ .palette.subtext1 }}
  export TMUX_COLOR_SEG_3_BG={{ .palette.surface1 }}

  "$SCRIPT"
else
  echo "📖 No viable script in sight... ($SCRIPT)"
  exit 1
fi

# vim:ft=sh
