#!/bin/bash

set -euo pipefail

SCRIPT="${XDS_DATA_HOME:-$HOME/.local/share}/grimoire/tmux_statusline.sh"

if [ -x "$SCRIPT" ]; then
  export TMUX_COLOR_LEFT_FG=colour7
  export TMUX_COLOR_LEFT_BG=colour2

  export TMUX_COLOR_MAIN_FG=colour0
  export TMUX_COLOR_MAIN_BG={{ .palette.bg0 }}

  export TMUX_COLOR_ACTIVE_FG=colour0
  export TMUX_COLOR_ACTIVE_BG={{ .palette.bg1 }}

  export TMUX_COLOR_SEG_1_FG=colour0
  export TMUX_COLOR_SEG_1_BG={{ .palette.bg2 }}

  export TMUX_COLOR_SEG_2_FG=colour0
  export TMUX_COLOR_SEG_2_BG={{ .palette.bg3 }}

  export TMUX_COLOR_SEG_3_FG=colour0
  export TMUX_COLOR_SEG_3_BG={{ .palette.bg4 }}

  "$SCRIPT"
else
  echo "📖 No viable script in sight... ($SCRIPT)"
  exit 1
fi

# vim:ft=sh
